*, body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

button, input, textarea, select {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f3f0ef;
}

.main-index {
  height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.image-index {
  height: 600px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

.button-index {
  display:flex;
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  height: 56px;
  align-items: center;
  justify-content: center;
  background: #72005F;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  transition: background 0.2s;
  cursor: pointer;
}

.button-index:hover {
  background: #630253;
}

.section-index {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-index {
  display: flex;
  flex-direction: column;
}

.title-up-index {
  font-size: 40px;
  color: #BAA193;
}

.title-down-index {
  font-size: 120px;
  color: #72005F;
}

/* Advice page styles */

.centralizer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.title-advice-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 80px;
  padding-bottom: 80px;
}

.title-up-advice {
  color: #72005F;
  font-weight: bold;
  font-size: 36px;
}

.title-down-advice {
  color: #BAA193;
  padding-right: 30px;
  align-self: flex-end;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 8px;
}

.main-advice {
  height: 600px;
  background: #e4d2cc;
  border-radius: 10px;
  padding-left: 20px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image-advice {
  height: 600px;
  border-radius: 10px;
}

.button-advice {
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  background: #72005F;
  color: #fff;
  font-size: 32px;
  font-weight: bold;

  transition: background 0.2s;
  cursor: pointer;
}

.button-advice:hover {
  background: #630253;
}

.message-advice-content {
  display: flex;
  flex-direction: column;;
  margin-left: 60px;
  margin-right: 60px;
}

.message-up-advice {
  font-size: 40px;
  color: #630253;
}

.message-down-advice {
  display:flex;
  font-size: 32px;
  justify-content: center;
  color: #BAA193;
  margin-top: 40px;
}
.message-advice-content strong{
  font-size: 40px;
  color: #630253;
}